* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.section_title {
  color: darkblue;
  font-size: 35px;
  text-align: center;
  padding: 50px 0 20px 0;
}
/* nav */
.bg_nav{
  width: 100%;
  background-color: white;
  height: 50px;
  position: fixed;
  z-index: 999;
}

/* logo navbar details  */
.logo_position a img{
  height: 50px;
}

.logo_position .logo_ocean {
  height: 30px;
}

.nav_centrale li, .nav_destra li {
  display: inline-block;
  line-height: 50px;
}

.nav_centrale li a, .nav_destra li a {
  text-decoration: none;
  color: black;
  margin-left: 10px;
}

.nav_destra li .SignUpbutton {
  color: #1b00ff;
  padding:5px 10px;
  margin-left: 10px;
  border: 1px solid #1b00ff;
  border-radius: 5px;
}

.nav_destra {
  text-align: right;
}

.hamburger_icon {
  display: none;
}

@media all and ( max-width: 992px ) {
  .hamburger_icon {
    display: block;
  }
  .nav_destra, .nav_centrale {
    display:none;
  }
}


/* jumbo */

.bg_jumbo {
  background-image:url(../img/jumbo.svg);
  padding-top: 50px;
  min-height: 500px;

}

.bg_jumbo h1 {
  margin-top: 50px;
  font-size: 4em;
  color: white;
}

.bg_jumbo p {
  color: #d2cccc;
  font-size: 23px;
  margin-top: 15px;
}

/* form jumbo */
.bg_form {
  margin-top: 50px;
  min-height: 300px;
  border: 1px solid black;
  background-color: white;
  border-radius: 5px;
}

form {
  width: 100%;
  padding: 5px 15px;
}

.bg_form h3 {
  text-align: center;
  font-size: 30px;


}

.bg_form h3:first-child {
  margin-top: 20px;
}

.bg_form h3 a {
  text-decoration: none;
  color: blue;
}

.bg_form form input {
  display: block;
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 5px;

}

.create {
  text-align: center;
  padding: 10px;
  margin: 0px 15px 10px 15px;
  background-color: #63a9e6;
  border-radius: 5px;
}

.create a {
  color: white;
  text-decoration: none;
}

.signup {
  text-align: center;
  padding: 10px;
  margin: 0px 15px 10px 15px;
  /* background-color: #63a9e6; */
  border-radius: 5px;
  border: lightgrey solid 1px;
}

.signup a {
  color: grey;
  text-decoration: none;
}

.term_of {
  text-align: center;
  padding: 5px 0 20px 0;
}


/* partners */
.partners {
  background-color: #f3f5f9;
  min-height: 50px;
  text-align: center;
  padding: 30px 0;
}


.img_partners img {
  padding: 30px;
}

.partners h4 {
  color: grey;
}

.view a{
  text-decoration: none;
  color: #0557d2;

}
/* deploy and scale */



.deploy .deploy_subt{
  color: grey;
  font-size: 20px;
  text-align:center;
  margin-bottom: 70px;
}

.deploy_list {
  padding-left: 100px;
}

.deploy_list li {
  list-style: none;
  padding: 15px 0 10px 5px;
  border-left: solid 1px grey ;

}

.deploy_list li a{
  color:grey;
  font-size: 18px;
  text-decoration: none;

}

.cluster_deployments , .one_click_apps , .optimized_compute , .global_availability {
  padding-right: 20px;
}

.cluster_deployments h4, .one_click_apps h4, .optimized_compute h4, .global_availability h4 {
  color: darkblue;
  font-size: 17px;
  padding: 10px 0;

}

.cluster_deployments p, .one_click_apps p, .optimized_compute p, .global_availability p{
  color: grey;
  padding: 10px 0 20px 0;
  min-height: 10px;
}




/* carousel */

.carousel_mode {
  background-color: #f3f5f9;
  text-align: center;

}

.carousel_mode  .section_subt{
  color: grey;
  font-size: 20px;
  text-align:center;
  margin-bottom: 70px;
}

.main_carousel {
  text-align: center;
  min-width: 200px;
}


.carousel_img {
  height: 300px;
  width: auto;

}

.sub_carousel {
  text-align: center;
  color: #0557d2;
  padding:10px;
  font-size: 15px;


}

.dots {
  text-align: center;
  color: blue;
}

/* features for business  */

.feature_left,.feature_centre,.feature_right {
  min-height: 200px;
}

/* tabella */
.dodiciregion {
  background-color: blue;
  text-align: center;
  color: white;
}

.dodiciregion h2 {
  padding-top: 50px;
  padding-bottom: 20px;
}

.tabella {
  text-align: left;
  border-bottom: 1px solid white;
}

table{
  border-collapse: collapse;
  margin-bottom: 50px;
}


.dodiciregion tr {
  width: 100%;
  border-bottom: 1px solid  white;
}

.dodiciregion tr td{
  padding: 5px;
  width:33.3%;
  color: lightgrey;

}
.dodiciregion tr td a{
  color: #4eb4fd;
  text-decoration: none;


}


/* carousel n2  */


/* create account */

.createaccount {
  background-color: #2b2bcc;
  text-align: center;
  color: white
}

.createbutton {
  min-height: 30px;
  margin: 20px 0 50px 0;
}

.createaccount h3 {
  font-size: 28px;
  padding: 50px 0 15px 0;
}

.createbutton a{
  background-color: white;
  padding: 10px;
  border-radius: 5px;
  color: #0066ff;
  text-decoration: none;

}

/* footer */

.footer {
  background-color: darkblue;
  color: lightblue;
}

.footer h5 {
  font-size: 20px;
  color: white;
  padding: 50px 0 10px 0;
}

.logo_mark img{
  width: 30px;
  margin-top: 50px;
  margin-bottom: 5px;
}

.footer a {
  display:block;
  padding: 0 0 10px 0;
  color: lightblue;
  text-decoration: none;

}

.footer .social a {
  display:inline-block;
  padding:5px 5px 0 0;
}

.footer .social img {
  width: 20px;
  color: grey;
}
