* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


/* nav */
.bg_nav{
  width: 100%;
  background-color: white;
  height: 50px;
  position: fixed;
  z-index: 999;
}

/* logo navbar details  */
.logo_position a img{
  height: 50px;
}

.logo_position .logo_ocean {
  height: 30px;
}

.nav_centrale li, .nav_destra li {
  display: inline-block;
  line-height: 50px;
}

.nav_centrale li a, .nav_destra li a {
  text-decoration: none;
  color: black;
  margin-left: 10px;
}

.nav_destra li .SignUpbutton {
  color: #1b00ff;
  padding:5px 10px;
  margin-left: 10px;
  border: 1px solid #1b00ff;
  border-radius: 5px;
}

.nav_destra {
  text-align: right;
}


/* jumbo */

.bg_jumbo {
  background-image:url(../img/jumbo.svg);
  padding-top: 50px;
  height: 500px;

}

.bg_jumbo h1 {
  margin-top: 50px;
  font-size: 4em;
  color: white;
}

.bg_jumbo p {
  color: #d2cccc;
  font-size: 23px;
  margin-top: 15px;
}


/* partners */
.partners {
  background-color: lightgrey;
  min-height: 50px;
}

/* deploy and scale */

/* carousel */

.carousel_mode {
  background-color: lightgrey;
}

/* features for business  */

/* tabella */
.dodiciregion {
  background-color: blue;
}

/* carousel n2  */



/* create account */

.createaccount {
  background-color: blue;
}

/* footer */

.footer {
  background-color: darkblue;

}
